body {
	background-color: #042138; color:#9aabaf;
}

a {
	color:red;
}

h1 {
	background-color:#225277; color:black; font-size:150%;
}

h2 {
	background-color:#042138; color:#9aabaf
}

p {
	background-color:#042138; color:#9aabaf;
}