body {
	background-color: #225277; 
}

a {
	color:red;
}

h1 {
	background-color:#042138; color:#9aabaf; font-size:150%;
}

h2 {
	background-color:#042138; color:#9aabaf
}

p {
	background-color:#042138; color:#9aabaf;
}